.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

#taskItem {
  list-style:none;
  display: flex;
  align-items: center;
  gap: 4px;
}

#inlineCode {
  @apply bg-zinc-300 p-1 rounded box-decoration-clone text-emerald-600 font-bold before:content-[''] after:content-['']
}